.DS_Store
packages/

.vs/config/applicationhost.config
.vs/config/applicationhost.config
*.config
DataShow.Manage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataShow.Manage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/DataShow/v14/.suo
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
.vs/config/applicationhost.config
My.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/config/applicationhost.config
DataShow.Manage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataShow.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataShow/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
My.Entity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataShow.Manage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.dll
*.dll
*.pdb
*.cache
DataShow/obj/Debug/DataShow.dll
DataShow/bin/DataShow.Services.dll
DataShow/bin/DataShow.Services.dll
.vs/config/applicationhost.config
DataShow/css/Index/index.css
DataShow/DataShow.csproj
文档维护/~$账单报告V1.0.docx
DataShow/ECharts/Moudle/ChinaMap/option.js
DataShow/ECharts/Moudle/ChinaMap/option.js
DataShow/ECharts/Moudle/ChinaMap/option.js
*.dll
*.pdb
*.cache
