
/* ---------------------------------公共样式begin----------------------------------------*/
body {
    width: 100vw;
    overflow: hidden;
    background: url(images/NewBG.jpg);
    background-size: 100% 100%;
    height: 100vh;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}

* {
    padding: 0;
    margin: 0;
}


.hide {
    display: none;
}


/*底部结语*/
.page-remark {
    width: 80%;
    height: auto;
    left: 13.68vw;
    position: absolute;
    bottom: 10%;
    color: #fff;
}

.page-remark-text {
    width: 80%;
    font-size: 0.684em;
    letter-spacing: 0.268em;
    color: #f9d9ae;
    /* float: left; */
    text-align: center;
    word-wrap: break-word;
}

.page-remark-left {
    width: 10%;
    float: left;
    margin-top: -3px;
    color: #EE7621;
}

.page-remark-rightIcon {
    width: 10%;
    height: auto;
    right: 10%;
    position: absolute;
    bottom: 9%;
    color: #EE7621;
}

/*上滑*/
.page-up {
    height: 20px;
    width: 300px;
    position: absolute;
    left: 50%;
    bottom: 3%;
    margin-left: -150px;
}

.page-up-icon {
    color: white;
    font-size: 26px;
}

.page-up-icon-last {
    color: white;
    font-size: 12px;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
}

/*music*/
.music{
    position:fixed;
    top:2vh;
    right:2vw;
    z-index: 5;
    width:12vw;
    height:12vw;
    border-radius: 50%;
}
.music > img:first-of-type{
    position:absolute;
    top:24%;
    right:2.5%;
    width:28.421%;
    z-index: 1;
}
.music > img:last-of-type{
    position:absolute;
    top:0;
    right:0;
    bottom: 0;
    left:0;
    margin: auto;
    width:79%;
    z-index: 0;
}
.music >img.play{
    -webkit-animation:music_disc 4s linear infinite;
    -o-animation:music_disc 4s linear infinite;
    animation:music_disc 4s linear infinite;    
}
@keyframes music_disc{
    0%{
        -webkit-transform: rotate(0deg);
        -ms--transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes music_disc{
    0%{
        -webkit-transform: rotate(0deg);
        -ms--transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes music_disc{
    0%{
        -webkit-transform: rotate(0deg);
        -ms--transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



@font-face {
    font-family: 'myFirstFont';
    src: url('font/HuawenzhongsongBold.TTF') format('truetype');
}

.page-title {
    position: relative;
    overflow: hidden;
    margin-top: 5.2748vh;
}

    .page-title > .title-BG {
        position: relative;
        width: 100vw;
        height: 14vh;
    }

.title-BG—img {
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.title-words {
    color: #f9d9ae;
    font-size: 1.87em;
    z-index: 99;
}

.title-words-1 {
    position: fixed;
    left: 23.3988%;
    top: 7.8078%;
    z-index:99;
}

.title-words-2 {
    position: fixed;
    left: 38.4684vw;
    top: 7.8078%;
}

.title-words-3 {
    position: fixed;
    left: 53.5604%;
    top: 7.8078%;
}

.title-words-4 {
    position: fixed;
    left: 68.1604%;
    top: 7.8078%;
}


.page-chart {
    margin-top: 1.5348vh;
    position: relative;
}

.chart-contian {
    padding-top: 0.8452vh;
    width: 100%;
    height: 39.6746vh;
}

.page-chart > .chart-BG {
    position: :relative;
    margin: 0 auto;
    border-width: 2px;
    border-style: solid;
    border-color: #ffe686;
    width: 73.1034vw;
    /* height: 54.2308vh; */
    background: -webkit-linear-gradient(#db6749, #c73c35); /* Safari 5.1 - 6.0 */
}

.chart-mark > .mark-BG {
    position: relative;
    margin: 0 auto;
    width: 56.6848vw;
    /* height: 5.9768vh; */
    background-color: #f9d9ae /* Safari 5.1 - 6.0 */;
    z-index: 99;
    border-radius: 2.5vw;
    margin-bottom: 2.3154vh;
}

.mark-words_line1 {
    position: relative;
    color: #ca4036;
    font-size: 1.0em;
    text-align: center;
    padding-bottom: 0.20vh;
    padding-top: 0.8452vh;
    padding-right: 0.2478vw;
    padding-left: 0.2478vw;
}

.mark-words_line2 {
    position: relative;
    color: #ca4036;
    font-size: 1.0em;
    text-align: center;
    padding-bottom: 0.8452vh;
    padding-right: 0.2478vw;
    padding-left: 0.2478vw;
}


.ChinaSpringThemeWords {
    letter-spacing: 0.0826em;
    font-family: myFirstFont;
    /* font-weight: bold; */
}

/* ---------------------------------公共样式end----------------------------------------*/

/* ---------------------------------page1 begin----------------------------------------*/

/* ---------------------------------page1 end----------------------------------------*/