<#@ template language="C#"  hostSpecific="true" debug="true"#>
<#@ assembly name="$(TargetPath)" #>
<#@ import namespace="System.Reflection" #>

<#@ include file="T4Toolbox.tt" #>
<#@include file="EntityMapGenerator.tt"#>
<# 
var types =My.NHibernate.NFMapGenerate.GetEntityTypes();
var gen=new EntityMapGenerator(types);
//gen.Run();



 #>