#common_footer {
    height:250px;
    background-color:#F5F5F6;
    min-width:1050px
}
#common_footer .footer_link {
    margin:0 auto;
    width:1020px;
    padding:80px 0;

}

#common_footer a {
   font-size:80px;
   font-weight:bold;
   color:white;
   margin:0 80px;
   border:1px solid #cccccc;     
}
