div.divTitle
{
	font-size: 40px;
	text-align: center;
	font-weight:bold;
}
div.divPic{
width:100%;
height:600px;
text-align: center;
}
div.divText
{
    text-align: center;
    font-size:300%;
}
p.text
{
    font-weight:normal;
}